{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1>Inscription</h1>
            {{ form_start(registrationForm) }}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form_widget(registrationForm.email) }}
                {{ form_label(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form_widget(registrationForm.pseudo) }}
                {{ form_label(registrationForm.pseudo) }}
                {{ form_errors(registrationForm.pseudo) }}
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form_widget(registrationForm.plainPassword.first) }}
                {{ form_label(registrationForm.plainPassword.first) }}
                {{ form_errors(registrationForm.plainPassword.first) }}
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form_widget(registrationForm.plainPassword.second) }}
                {{ form_label(registrationForm.plainPassword.second) }}
                {{ form_errors(registrationForm.plainPassword.second) }}
            </div>
            <div>
                <button type="submit"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    S'inscrire !
                </button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
    </div>
{% endblock %}
