{{ form_start(form) }}
<div class="container">

    <div class="row">
        <div class="input-field col s6">
            {{ form_row(form.title) }}
        </div>
        <div class="input-field col s6">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        {{ form_row(form.content) }}
    </div>
    <div class="row">
        <div class="input-field col s6">
            {{ form_row(form.language) }}
        </div>
    </div>
    <div class="center-align">
        <button class="btn">Envoyer</button>
    </div>
</div>
{{ form_end(form) }}
