{% if app.user %}
    {{ form_start(form, {'attr': {'class': 'flex-direction-column'}} ) }}
    <div class="mdl-textfield mdl-js-textfield">
        {{ form_label(form.comment) }}
        {{ form_widget(form.comment) }}
    </div>
    <button>Envoyer</button>
    {{ form_end(form) }}
{% endif %}
<section class="d-flex flex-direction-column align-items-center">
    {% for comment in comments %}
            <div class="comment-cards d-flex w-50">
                <div class="d-flex flex-direction-column mdl-col mdl-cell--4-col comment-card-author align-items-center">
                    <img src="{{ comment.user.avatar ? 'https://github.com/' ~ comment.user.avatar ~ '.png?size=300' : asset('/build/images/logo/__Crook_.png') }}"
                         alt="avatar"
                         width="80"
                         height="80"
                    >
                    <p>{{ comment.user.pseudo }}</p>
                </div>
                <div class="mdl-col mdl-cell--8-col">
                    <div class="d-flex flex-direction-column">
                        <date>{{ comment.createAt|date('Y-m-d') }}</date>
                    </div>
                    <div class="d-flex flex-direction-column">
                        <p>{{ comment.comment }}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
</section>

